[submodule "xresources"]
	path = modules/xresources
	url = https://github.com/dracula/xresources
[submodule "kv-bash"]
	path = modules/kv-bash
	url = https://github.com/damphat/kv-bash
[submodule "bash-git-prompt"]
	path = modules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
